@{
    ViewData["Title"] = "Home - Cara Belajar";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Login AstraLearn</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/AstraLearn_favicon.png" rel="icon">
    <link href="~/assets/img/AstraLearn.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="~/assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="~/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">


    <!-- =======================================================
    * Template Name: NiceAdmin
    * Updated: Sep 18 2023 with Bootstrap v5.3.2
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body style="background-color: #C7E3F8;">
    @if (Context.Session.GetString("Peran") == "Pelatih" || Context.Session.GetString("Peran") == "Peserta" || Context.Session.GetString("Peran") == "Admin")
    {
        <!-- ======= Header ======= -->
        <header id="header1" class="header1 fixed-top d-flex align-items-center">

            <div class="d-flex align-items-center justify-content-between">
                @if (@Context.Session.GetString("Peran") == "Pelatih")
                {
                    <a class="nav-link collapsed logo d-flex align-items-center" asp-controller="Pelatih" asp-action="Index">
                        <img src="~/assets/img/Logo_AstraLearn.png" alt="">
                    </a>
                }

                @if (@Context.Session.GetString("Peran") == "Admin")
                {
                    <a class="nav-link collapsed logo d-flex align-items-center" asp-controller="Admin" asp-action="Index">
                        <img src="~/assets/img/Logo_AstraLearn.png" alt="">
                    </a>
                }

                @if (@Context.Session.GetString("Peran") == "Peserta")
                {
                    <a class="nav-link collapsed logo d-flex align-items-center" asp-controller="Peserta" asp-action="Index">
                        <img src="~/assets/img/Logo_AstraLearn.png" alt="">
                    </a>
                }
            </div><!-- End Logo -->

            <nav class="header1-nav ms-auto active">
                <ul class="d-flex align-items-center">
                    <li class="nav-item d-flex align-items-center"><a class="nav-link nav-icon" asp-controller="Home" asp-action="CaraBelajar" style="color: #006CBB; font-weight: 500;">Cara Belajar</a></li>
                    <li class="nav-item d-flex align-items-center"><a class="nav-link nav-icon" asp-controller="Home" asp-action="Kelas" style="color: #006CBB; font-weight: 500;">Kelas</a></li>
                    <li class="nav-item d-flex align-items-center"><a class="nav-link nav-icon" asp-controller="Home" asp-action="CaraDapatSertifikat" style="color: #006CBB; font-weight: 500;">Cara Dapat Sertifikat</a></li>
                    
                    <li class="nav-item d-block d-lg-none">
                        <a class="nav-link nav-icon search-bar-toggle " href="#">
                            <i class="bi bi-search"></i>
                        </a>
                    </li><!-- End Search Icon-->
                    @if (@Context.Session.GetString("User") != null)
                    {
                        var IsLoggedIn = Context.Session.GetString("User");
                        var loggedInUserId = Context.Session.GetInt32("Id");

                        <a class="nav-link nav-profile d-flex align-items-center" href="#">
                            <span class="d-none d-md-block">|   @IsLoggedIn </span>
                            @*<span class="d-none d-md-block">@loggedInUserId </span>*@
                        </a>

                        <!-- End Profile Image Icon -->

                        <!-- End Profile Image Icon -->

                        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                            <li class="dropdown-header">
                                <h6>@IsLoggedIn</h6>
                                <span>@loggedInUserId</span>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                    <i class="bi bi-person"></i>
                                    <span>My Profile</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="users-profile.html">
                                    <i class="bi bi-gear"></i>
                                    <span>Account Settings</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="pages-faq.html">
                                    <i class="bi bi-question-circle"></i>
                                    <span>Need Help?</span>
                                </a>
                            </li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>

                            <li>
                                <a class="dropdown-item d-flex align-items-center" href="#">
                                    <i class="bi bi-box-arrow-right"></i>
                                    <span>Sign Out</span>
                                </a>
                            </li>

                        </ul>

                        <!-- End Profile Dropdown Items -->
                    }
                </ul>
            </nav><!-- End Icons Navigation -->
        </header>

        <!-- End Header -->
    }
    else
    {
        <!-- ======= Header ======= -->
        <header id="header1" class="header1 fixed-top d-flex align-items-center">
            <div class="d-flex align-items-center justify-content-between">
                <a href="index.html" class="logo d-flex align-items-center">
                    <img src="~/assets/img/Logo_AstraLearn.png" alt="">
                </a>
            </div><!-- End Logo -->

            <nav class="header1-nav ms-auto">
                <ul class="d-flex align-items-center">
                    <li class="nav-item d-flex align-items-center"><a class="nav-link nav-icon" asp-controller="Home" asp-action="CaraBelajar" style="color: #006CBB; font-weight: 500;">Cara Belajar</a></li>
                    <li class="nav-item d-flex align-items-center"><a class="nav-link nav-icon" asp-controller="Home" asp-action="Kelas" style="color: #006CBB; font-weight: 500;">Kelas</a></li>
                    <li class="nav-item d-flex align-items-center"><a class="nav-link nav-icon" asp-controller="Home" asp-action="CaraDapatSertifikat" style="color: #006CBB; font-weight: 500;">Cara Dapat Sertifikat</a></li>
                    <li class="nav-item d-block d-lg-none">
                        <a class="nav-link nav-icon search-bar-toggle " href="#">
                            <i class="bi bi-search"></i>
                        </a>
                    </li><!-- End Search Icon-->
                    <form asp-controller="Home" asp-action="Index" method="post">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary" style="background-color: #006CBB; border-radius: 15px;margin-top: 10px;margin-right: 5px; width: 70px; height: 40px;">Login</button>
                        </div>
                    </form>
                </ul>
            </nav><!-- End Icons Navigation -->
        </header>
    }
    <!-- End Header -->

    <main>
        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">
                <div class="d-flex justify-content-center py-4">
                    <div class="section-title">
                        <span><h1>Cara Belajar di AstraLearn</h1></span>
                    </div>
                </div><!-- End Logo -->


            </div>
        </section><!-- End Breadcrumbs -->
        <div class="container">
            <br>
            <br>
            <br>
            <br>
            <div class="row gy-4">

                <div class="row mb-4">
                    <div class="col-xxl-6 d-flex align-items-center">
                        <div class="portfolio-info">
                            <h3>1. Login</h3>
                            <p>
                                Masukkan Username dan Password yang telah terdaftar pada sistem AstraLearn.
                            </p>
                        </div>
                    </div>

                    <div class="col-xxl-6 d-flex align-items-center">
                        <div class="portfolio-info">
                            <img src="~/assets/img/login.png" alt="" style="width: 100%; border: 2px solid #ccc; border-radius: 10px;">
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-xxl-6 d-flex align-items-center">
                        <div class="portfolio-info">
                            <img src="~/assets/img/daftarpelatihan.png" alt="" style="width: 100%; border: 2px solid #ccc; border-radius: 10px;">
                        </div>
                    </div>

                    <div class="col-xxl-6 d-flex align-items-center">
                        <div class="portfolio-info">
                            <h3>2. Cari Kelas Pelatihan</h3>
                            <p>
                                Pilih kelas yang ingin kamu ikuti di List Kelas, Jika kamu sudah ketemu kelas yang cocok, kamu bisa klik kelas tersebut untuk melihat detail informasinya.
                            </p>
                        </div>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-xxl-6 d-flex align-items-center">
                        <div class="portfolio-info">
                            <h3>3. Ambil Kelas Pelatihan</h3>
                            <p>
                                Jika kamu sudah yakin ingin mengikuti kelas tersebut, Kamu bisa tekan tombol Ikut Kelas
                            </p>
                        </div>
                    </div>

                    <div class="col-xxl-6 d-flex align-items-center">
                        <div class="portfolio-info">
                            <img src="~/assets/img/ikutkelas.png" alt="" style="width: 100%; border: 2px solid #ccc; border-radius: 10px;">
                        </div>
                    </div>
                </div>

                @*<div class="row mb-4">
                    <div class="col-xxl-6 d-flex align-items-center">
                        <div class="portfolio-info">
                            <img src="~/assets/img/ikutkelas.png" alt="" style="width: 100%;">
                        </div>
                    </div>

                    <div class="col-xxl-6 d-flex align-items-center">
                        <div class="portfolio-info">
                            <h3>4. Ambil Kelas Pelatihan</h3>
                            <p>
                                Jika kamu sudah yakin ingin mengikuti kelas tersebut, Kamu bisa tekan tombol Ikut Kelas
                            </p>
                        </div>
                    </div>
                </div>*@
            </div>
        </div>

    </main><!-- End #main -->


    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/chart.js/chart.umd.js"></script>
    <script src="~/assets/vendor/echarts/echarts.min.js"></script>
    <script src="~/assets/vendor/quill/quill.min.js"></script>
    <script src="~/assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="~/assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>

</body>

</html>